.container {
    max-height: 100vh;
    height: 100vh;
    /* background-color: blue; */
    padding-top: 80px;
}

.main {
    /* height: 100%; */
    background-color: yellow;
    height: 100%;
    /* background-color: white; */
    padding: 2rem 3.5rem;
    min-width: calc(100vw - 250px);
    overflow-x: auto;
    transition: margin-left 0.3s ease-in-out;
    white-space: nowrap;
    scrollbar-color: #A8A8A8 black;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.main::-webkit-scrollbar-track {
    background: black;

}