.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #323940;
  border-radius: 16px;
  padding: 10px;
  white-space: normal;
  margin-bottom: 15px;
  word-wrap: break-word;
  cursor: pointer !important;
  color: #ebebeb;
}

.tasks {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
