.date-container {
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    align-items: flex-start;
    width: max-content;
    font-size: 14px;
    user-select: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  