.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #194f57;
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.date-container {
  display: flex;
  gap: 5px;
  background-color: #7df960;
  padding: 10px;
  border-radius: 5px;
  align-items: flex-start;
  width: max-content;
  color: black;
  font-size: 14px;
}

.tasks {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
