.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 3rem;
    position: relative;
}

.authContainer {
    height: auto;
    width: 500px;
    background-color: #0D2A2E;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 3rem;
}

.title {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}

@media (max-width: 1150px) {
    .image {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 769px) {
    .image {
       display: none;
    }

    .authContainer {
        padding: 2rem;
    }
}